


.contact-form-section {
    position: relative;
    padding: 120px 0px 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sec-title.centered {
    text-align: center;
}
.sec-title {
    position: relative;
    margin-bottom: 50px;
}
.centered {
    text-align: center;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sec-title.centered .separator {
    margin: 0 auto;
    background-position: center center;
}
.sec-title .separator {
    position: relative;
    width: 120px;
    height: 20px;
    margin-bottom: 15px !important;
    background: url(../images/icons/separator.png) no-repeat;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sec-title.centered .text {
    margin: 0 auto;
}
.sec-title .text {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    line-height: 1.6em;
    max-width: 630px;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}